<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
    <bean id = "vobj" class ="my.app.ViewResolver">
		<property name="prefix">
			<value>pages</value>
		</property>
		<property name="sufix">
			<value>pagess</value>
		</property>
    </bean>

</beans>